<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add position</title>
</head>
<body>
  <form action="{{ url_for('positionadd')}}" method="post">
        <h5>Введите данные о должности</h5>
        <div>
            <input type="text" name="title" placeholder="title">
        </div>
        <div>
            <input type="text" name="description" placeholder="description">
        </div>
        <div>
            <button>Добавить</button>
        </div>
    </form>
</body>
</html>